/* Black #181820 */
/* Grey #272833 */
/* White #fefeff */
/* Orange #fc9786 */
/* Purple #c048d2 */
:root {
    --our-black: #2121e6;
    --our-grey: #a5abee;
    --our-white: #4848e9;
    --our-text-grey: #040413;
    --our-blue: #3b3b3d;

}

* {
    box-sizing: border-box;
}

body {
    background-color: #e9e9f1;
    color: var(--our-white);
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    padding: 26px;
    padding-top: 8px;
    
}

.hero-title {
    font-size: 34px;
    line-height: 34px;
    display: flex;
    justify-content: center;

}

.main {
    display: flex;
    flex-direction: column;
    gap: 18px;
    
}

.tasks {
    display: flex;
    flex-direction: column-reverse;
    gap: 6px;
}

.box {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    padding: 10px;
    color: var(--our-text-grey);
    font-size: 13px;
    cursor: pointer;
}

.add-task-box {
    border: rgba(77, 80, 107, 0.6) 2px solid;
}


.add-task-box:hover {
    background-color: var(--our-grey);
}

.pink-box {
    background-color: #e8e5f1;
    width: 26px;
    height: 26px;
    border-radius: 6px;
    color: var(--our-black);
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-checkbox {
    border: #e5e2ee 2px solid;
    width: 16px;
    height: 16px;
    border-radius: 6px;
    color: var(--our-black);
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn3 {
    border: #e5e2ee 2px solid;
    width: 16px;
    height: 16px;
    border-radius: 6px;
    color: var(--our-black);
    padding: 2px;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* .task-delete {
    border: #e8e5f1 2px solid;
    width: 16px;
    height: 16px;
    border-radius: 6px;
    color: var(--our-blue);
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.task-checkbox > .icon {
    display: none;
    visibility: hidden;
}


.task-box.checked > .task-checkbox > .icon {
    display: block;
    visibility: visible;
}


/* .task-box.checked > .task-checkbox {
    background-color: #20d14c;
} */

.task-box {
    background-color: var(--our-grey);
    /* font-size: larger; */
    transform-style: preserve-3d;
    transform-origin: center left;
    transition: transform 300ms ease-in;
}

.task-box:hover {
    transform: rotateY(-10deg);
}
.task-input {
    border: none;
    background-color: transparent;
    color: var(--our-white);
    width: 100%;
}

.task-input:active, .task-input:focus {
    outline: none;
}
